:root {
  // font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  // font-size: 16px;
  // font-weight: 400;
  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;
  // font-synthesis: none;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  width: 100%;
  padding: 0;
   
/* 设置滚动条的样式 */

}
::-webkit-scrollbar {
  width:8px;
}
::-webkit-scrollbar :horizontal {
  width:8px;
}
::-webkit-scrollbar-track {

  border-radius:10px;
  background:#ffffff4d;
}
::-webkit-scrollbar-thumb {
  border-radius:10px;
  background:rgba(0,0,0,0.1);

  background:rgb(126, 192, 156);
}
::-webkit-scrollbar-thumb:window-inactive {
  background:rgba(255,0,0,0.4);
}
div{
  box-sizing: border-box;
}


#app {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #FCFBFB;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
